.card{
    width: 300px;
    height: 230px;
    background-color: #333;
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, .5);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px solid rgba(0, 0, 0, -1);
    position: relative;
    overflow: hidden;
}

.card-image{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .6;
    transition: transform .75s;

}

.card:hover .card-image{
    transform: scale(1.15);
}

.card-title{
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 20px;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

/* 
/* search style */

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2c3441;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > input{
    width: 200px;
    padding: 0 10px;
}

.search-box:hover > .icon{
    background: #536179;

}

.icon:hover{
    transform: rotate(360deg);
    scale: (0.8);

}

input{
    width: 0;
    border: none;
    outline: none;
    padding: 0;
    background: none;
    font-size: 1.1rcm;
    transition: 0.5s ease;
    line-height: 40px;
    color: #fff;
}

.icon{
    color: #21dfcd;
    float: right;
    width: 40px;
    font-size: 1.3rem;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}



/* motion style */
 .motion{
    background: #000;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
c
.circle{
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    position: absolute;
    border-bottom: 50%;
    animation: circleAnimation 2s linear infinite;

}
.circle::before{
    content: '';
    position: absolute;
    top: -10px;
    left: 50px;
    transform: translate(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #04fc43;
    box-shadow: 0 0 20px #04fc43, 0 0 60px #04fc43;

}

@keyframes circleAnimation{
    0%{
        transform: rotate(3600deg);
    }
    100%{
        transform: rotate(360deg);
    }
} 